<!DOCTYPE html>
<html>
<head>
    <title>Formulario con CAPTCHA</title>
</head>
<body>
    <h1>Formulario</h1>
    <form method="post" action="{% url 'crear_formulario' %}">
        {% csrf_token %}
    
        <div>
            <label for="email">Correo Electronico</label>
            <input type="email" id="email" name="email">
        </div>
        <div>
            <label for="phone">Teléfono</label>
            <input type="text" id="phone" name="phone">
        </div>          
        <div>
            <label for="captcha">CAPTCHA</label>
            {% captcha %}
        </div>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>